backend:
  name: git-gateway
  repo: postavshikioptom/multiverse_decapcms
  branch: main
  site_domain: multiverse-decapcms.netlify.app
  base_url: https://api.netlify.com
  auth_endpoint: auth

publish_mode: simple

media_folder: static/images/uploads
public_folder: /images/uploads

collections:
  - name: "posts"
    label: "Посты"
    folder: "content/posts"
    create: true
    slug: "{{fields.slug}}"
    extension: md
    format: frontmatter
    fields:
      - { label: "Slug", name: "slug", widget: "string", required: true, pattern: ["^[a-z0-9]+(?:-[a-z0-9]+)*$", "Только латинские буквы, цифры, дефисы"] }
      - { label: "Заголовок", name: "title", widget: "string" }
      - { label: "Описание", name: "description", widget: "text" }
      - { label: "Дата", name: "date", widget: "datetime", default: "{{now}}" }
      - { label: "Фото/Видео", name: "media", widget: "image", required: false }
      - { label: "Содержимое", name: "body", widget: "markdown" }
      - { label: "Целевой сайт", name: "target_site", widget: "select", options: ["maxmarshall", "mazzaro", "planes"] }
    preview_path: "{{target_site}}/{{slug}}"

site_url: https://multiverse-decapcms.netlify.app
